---
import Container from "@components/container.astro";
import Cta from "@components/cta.astro";
import FeatureAlt from "@components/peacebuilder-alt.astro";
import FeatureGrid from "@components/peacebuilder-grid.astro";
import { default as FeaturesBlock } from "@components/peacebuilder.astro";
import Logos from "@components/logos.astro";
import Sectionhead from "@components/sectionhead.astro";
import Testimonials from "@components/testimonials.astro";
import Link from "@components/ui/link.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout footerMargin={false}>
  <Container class="mt-16">
    <FeatureAlt nomargin={true} />
    <FeatureGrid />
    <FeaturesBlock />
  </Container>
  <Cta />
</Layout>
