---
import Link from "./ui/link.astro";
---

<div
  class="bg-gradient-to-bl from-indigo-900 to-indigo-700 p-8 md:px-20 md:py-20 mt-20 flex flex-col items-center text-center">
  <h2 class="text-white text-4xl md:text-6xl tracking-tight">
    Helping Peacebuilders, build a better world.
  </h2>
  <p class="text-white/70 mt-4 text-lg md:text-xl">
    This repository contains the experiments, documentation, tutorials 
    and source code that the group has developed. <br> We build classifiers, data hubs and annotation guidelines.
  </p>
  <div class="flex mt-5">
    <Link href="https://gitlab.com/automatic-classifiers-for-peace/acfp" style="inverted">Visit our GitLab Page to explore the resources</Link>
  </div>
</div>
