---
import { Image, Picture } from "astro:assets";
import heroImage from "../assets/hero-screenshot.png";
import Link from "@components/ui/link.astro";
import Container from "@components/container.astro";
---

<div class="overflow-x-clip">
  <Container>
    <main class="grid lg:grid-cols-5 place-items-center relative">
      <div
        class="absolute w-96 h-96 blur-2xl -z-10 bg-gradient-radial from-indigo-200 right-0 top-0">
      </div>
      <div
        class="absolute w-96 h-96 blur-2xl -z-10 bg-gradient-radial from-purple-200 right-56 top-10">
      </div>

      <div class="max-w-sm md:max-w-max lg:col-span-2">
        <h1
          class="text-3xl lg:text-4xl xl:text-6xl font-bold lg:tracking-tight xl:tracking-tighter [text-wrap:balance] text-center lg:text-start">
          Automatic Classifiers for Peace
        </h1>
        <p
          class="text-lg mt-4 max-w-lg text-slate-600 [text-wrap:balance] text-center lg:text-start">
          An open-source community of researchers, organisations and individuals that are 
          interested in aiding social media analysis through the automatic classification of social media discourse from a peacebuilding lens.
        </p>
        <div class="grid place-items-center">
          <div class="max-w-lg">
            <Badge color="purple" class="-ml-px">Automatic Classifier</Badge>
            <h3 class="text-2xl font-medium mt-4 [text-wrap:balance]">
              What is an Automatic Classifier?
            </h3>5
            <p class="mt-4 text-slate-600 [text-wrap:balance]">
              An automatic classifier is a type of software code that uses algorithms to categorize data into predefined classes or categories. 
              In the context of social media analysis, these classifiers can automatically identify and organize posts, comments, and other forms 
              of discourse based on their content. This process enables us to systematically understand and address various types of online communications, 
              such as identifying harmful speech or recognising positive contributions to peacebuilding.
            </p>
      
            <ul class="grid mt-6 text-left gap-y-4">
              <li class="flex items-center gap-3 text-neutral-800">
                <Icon name="ph:check-circle-fill" class="w-5 h-5" />
      
                <span class="text-sm">Intelligent Task Management</span>
              </li>
      
              <li class="flex items-center gap-3 text-neutral-800">
                <Icon name="ph:check-circle-fill" class="w-5 h-5" />
      
                <span class="text-sm">Real-time Collaboration</span>
              </li>
      
              <li class="flex items-center gap-3 text-neutral-800">
                <Icon name="ph:check-circle-fill" class="w-5 h-5" />
      
                <span class="text-sm">Data Security & Privacy</span>
              </li>
            </ul>
            <div class="flex items-center gap-4 mt-6">
              <Link href="#" size="sm" class="inline-flex items-center group gap-px">
                <span>Start 14-day trial</span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="w-4 h-4 mt-px group-hover:translate-x-1 transition-transform">
                  <path
                    fill-rule="evenodd"
                    d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                    clip-rule="evenodd"></path>
                </svg>
              </Link>
              <a
                href="#"
                class="text-sm px-2 transition py-1 text-slate-600 hover:text-indigo-600 focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-indigo-500 focus-visible:outline-none focus-visible:shadow-outline-indigo rounded-full">
                Contact Sales</a
              >
            </div>
          </div>
        <h2
          class="text-3xl lg:text-4xl xl:text-6xl font-bold lg:tracking-tight xl:tracking-tighter [text-wrap:balance] text-center lg:text-start">
          What is an Automatic Classifier?
        </h2>
        <p
          class="text-lg mt-4 max-w-lg text-slate-600 [text-wrap:balance] text-center lg:text-start">
          An automatic classifier is a type of software code that uses algorithms to categorize data into predefined classes or categories. 
          In the context of social media analysis, these classifiers can automatically identify and organize posts, comments, and other forms 
          of discourse based on their content. This process enables us to systematically understand and address various types of online communications, 
          such as identifying harmful speech or recognising positive contributions to peacebuilding.
        </p>
        <h2
          class="text-3xl lg:text-4xl xl:text-6xl font-bold lg:tracking-tight xl:tracking-tighter [text-wrap:balance] text-center lg:text-start">
          What is an LLM?
        </h2>
        <p
          class="text-lg mt-4 max-w-lg text-slate-600 [text-wrap:balance] text-center lg:text-start">
          Large Language Models, popularly known as LLMs, are advanced forms of automatic classifiers that leverage deep learning techniques to 
          understand and generate human-like text. They are trained on vast amounts of data to recognise patterns, context, and nuances in language. 
          LLMs can assist in analyzing social media discourse by providing insights into sentiment, intent, and thematic content. For a comprehensive 
          explanation of LLMs and their applications, please refer to this resource. Examples include Chat GPT (GPT 3.5) by OpenAI, BERT (Bidirectional 
          Encoder Representations from Transformers) by Google etc.
        </p>
        <h2
          class="text-3xl lg:text-4xl xl:text-6xl font-bold lg:tracking-tight xl:tracking-tighter [text-wrap:balance] text-center lg:text-start">
          How can LLMs and Automatic Classifiers help Peacebuilders who are interested in Social Media Analysis?
        </h2>
        <p
          class="text-lg mt-4 max-w-lg text-slate-600 [text-wrap:balance] text-center lg:text-start">
          LLMs and automatic classifiers can significantly enhance the work of peacebuilders interested in social media 
          analysis by providing advanced tools for understanding and interpreting vast amounts of online discourse. 
          These technologies enable peacebuilders to automatically identify and categorise various types of social media content, 
          such as hate speech, disinformation, or supportive messages. However, because language, context, and localisation can 
          vary greatly between regions, there is often a need for custom classifiers to address these specific concerns. 
          <br> 
          For example, the nuances of hate speech in the Global North differ from those in various countries in the Global South. 
          This is where our community becomes crucial. By leveraging pre-existing LLMs, we can customise them to better fit localised 
          environments, ensuring more accurate and relevant analysis. This approach allows peacebuilders to effectively manage and respond 
          to diverse social media landscapes, fostering timely and contextually appropriate interventions in conflict-prone areas.
        </p>
        <div
          class="mt-6 flex flex-col sm:flex-row sm:justify-center lg:justify-start gap-3">
          <Link
            href="#"
            target="_blank"
            class="flex gap-1 items-center justify-center"
            rel="noopener">
            I am a Peacebuilder
          </Link>
          <Link
            size="lg"
            style="outline"
            rel="noopener"
            href="#"
            class="flex gap-1 items-center justify-center"
            target="_blank">
            I am a Bridger
          </Link>
        </div>
      </div>
      <div class="py-3 lg:col-span-3 lg:-mr-44">
        <Picture
          src={heroImage}
          alt="Astronaut in the air"
          formats={["avif", "webp"]}
          sizes="(max-width: 1024px) 100vw, 50vw"
          widths={[240, 540, 720, heroImage.width]}
          loading="eager"
          fetchpriority="high"
        />
      </div>
    </main>
  </Container>
</div>
